# Virtual environments
.venv

# Data
*.bin

# Python artifacts
__pycache__

# Environment
.env

# Wandb
wandb
logs

# ML Artifacts 
checkpoints
generations

# Kernel artifacts
*.so
build

# Tokenizer artifacts
*.pkl